<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sparky Stones.ttf</string>
		<string>Lonely Cake.ttf</string>
		<string>Intensa Fuente.ttf</string>
	</array>
</dict>
</plist>
